<launch>

    <param name="/use_sim_time" value="true"/>

    <arg name="dataset" default="alma-s1" />
    <arg name="roomName" default="fullhouse1" />

    <!-- ### Mapping ### -->
    <include file="$(find hector_mapping)/launch/mapping_default.launch">
        <arg name="base_frame" value="base_link"/>
        <arg name="odom_frame" value="base_link"/>
    </include>

    <!-- ### Point cloud from depth ### -->
    <node pkg="robotathome_at_ros" type="generate_depth_cloud" name="generate_depth_cloud_1"><param name="~camera_name" type="string" value="/camera/RGBD_1"/></node>
    <node pkg="robotathome_at_ros" type="generate_depth_cloud" name="generate_depth_cloud_2"><param name="~camera_name" type="string" value="/camera/RGBD_2"/></node>
    <node pkg="robotathome_at_ros" type="generate_depth_cloud" name="generate_depth_cloud_3"><param name="~camera_name" type="string" value="/camera/RGBD_3"/></node>
    <node pkg="robotathome_at_ros" type="generate_depth_cloud" name="generate_depth_cloud_4"><param name="~camera_name" type="string" value="/camera/RGBD_4"/></node>

    <node pkg="robotathome_at_ros" type="pub_odom" name="pub_odom"/>

    <!-- ### Visualization ### -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robotathome_at_ros)/multiRGBD+laser.rviz"/>

    <!-- ### Rotating images for proper visualization ### -->
    <node pkg="robotathome_at_ros" type="rotate90.py" name="rotate90_1"><param name="~input_topic" type="string" value="camera/RGBD_1/rgb/image_raw"/>    </node>
    <node pkg="robotathome_at_ros" type="rotate90.py" name="rotate90_2"><param name="~input_topic" type="string" value="camera/RGBD_2/rgb/image_raw"/></node>
    <node pkg="robotathome_at_ros" type="rotate90.py" name="rotate90_3"><param name="~input_topic" type="string" value="camera/RGBD_3/rgb/image_raw"/></node>
    <node pkg="robotathome_at_ros" type="rotate90.py" name="rotate90_4"><param name="~input_topic" type="string" value="camera/RGBD_4/rgb/image_raw"/></node>
    <node pkg="robotathome_at_ros" type="rotate90.py" name="rotate90_4d"><param name="~input_topic" type="string" value="camera/RGBD_4/depth/image_raw"/></node>

    <!-- ### TF Publisher ### x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
    <node pkg="tf" type="static_transform_publisher" name="baselink_laser_broadcaster" args="0.205 0 0.31 0 0 0 base_link laser 10"/>
    <node pkg="tf" type="static_transform_publisher" name="laser_HOKUYO1" args="0 0 0 0 0 0 laser HOKUYO1 10"/>

    <!--  CAM1: yaw -45 pitch 0 roll 90 : -0.785398163 0 1.570796327 -->
    <!--  CAM2: yaw -90 pitch 0 roll 90 : -1.570796327 0 1.570796327 -->
    <!--  CAM3: yaw  45 pitch 0 roll 90 :  0.785398163 0 1.570796327 -->
    <!--  CAM4: yaw   0 pitch 0 roll 90 :            0 0 1.570796327 -->
    <!--  roll and pitch inverted!!! -->
    <node pkg="tf" type="static_transform_publisher" name="baselink_cam1_broadcaster" args="0.271 -0.031 1.045 -0.785398163 1.570796327 0 base_link camera/RGBD_1 10"/>
    <node pkg="tf" type="static_transform_publisher" name="baselink_cam2_broadcaster" args="0.24  -0.045 1.045 -1.570796327 1.570796327 0 base_link camera/RGBD_2 10"/>
    <node pkg="tf" type="static_transform_publisher" name="baselink_cam3_broadcaster" args="0.271  0.031 1.045  0.785398163 1.570796327 0 base_link camera/RGBD_3 10"/>
    <node pkg="tf" type="static_transform_publisher" name="baselink_cam4_broadcaster" args="0.285      0 1.045            0 1.570796327 0 base_link camera/RGBD_4 10"/>

    <!-- ### Bagfile ### -->
    <arg name="bagpath" default="$(find robotathome_at_ros)/bagfiles/$(arg dataset)/$(arg roomName)" />
    <arg name="bag_laser" default="$(arg bagpath)/$(arg dataset)_$(arg roomName)_LASER-2_hokuyo_processed.bag" />
    <arg name="bag_cam1" default="$(arg bagpath)/$(arg dataset)_$(arg roomName)_rgbd_RGB_1.bag" />
    <arg name="bag_cam1D" default="$(arg bagpath)/$(arg dataset)_$(arg roomName)_rgbd_D_1.bag" />
    <arg name="bag_cam2" default="$(arg bagpath)/$(arg dataset)_$(arg roomName)_rgbd_RGB_2.bag" />
    <arg name="bag_cam2D" default="$(arg bagpath)/$(arg dataset)_$(arg roomName)_rgbd_D_2.bag" />
    <arg name="bag_cam3" default="$(arg bagpath)/$(arg dataset)_$(arg roomName)_rgbd_RGB_3.bag" />
    <arg name="bag_cam3D" default="$(arg bagpath)/$(arg dataset)_$(arg roomName)_rgbd_D_3.bag" />
    <arg name="bag_cam4" default="$(arg bagpath)/$(arg dataset)_$(arg roomName)_rgbd_RGB_4.bag" />
    <arg name="bag_cam4D" default="$(arg bagpath)/$(arg dataset)_$(arg roomName)_rgbd_D_4.bag" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg bag_laser) $(arg bag_cam1) $(arg bag_cam2) $(arg bag_cam3) $(arg bag_cam4) $(arg bag_cam1D) $(arg bag_cam2D) $(arg bag_cam3D) $(arg bag_cam4D)" required="true"/>

</launch>
